@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcf6;
  --loader-background: #fff;
  --foreground: #373737;
  --cursor-color: #373737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11171c;
    --loader-background: #000;
    --foreground: #d1c5ad;
    --cursor-color: #d1c5ad;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  pointer-events: auto;
}
a,
ol,
li {
  pointer-events: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
