@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffcf6;
  --loader-background: #fff;
  --foreground: #373737;
  --cursor-color: #373737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11171c;
    --loader-background: #141414;
    --foreground: #d1c5ad;
    --cursor-color: #d1c5ad;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  pointer-events: auto;
}
a,
ol,
li {
  pointer-events: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader-container {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform-origin: center;
}
.loader {
  opacity: 0.1;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--loader-background) var(--foreground);
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
